* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Narita Monospace";
    src: url('fonts/Narita-Monospace.otf') format("otf");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "Narita Monospace", monospace;
    background-color: var(--bcg-color);
}

h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

.container{
    max-width: 1920px;
}