* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
}

h1 {
    font-family: "Playwrite VN Guides", cursive;
    font-weight: 400;
    font-style: normal;
}