.product-slider{
    margin-top: 128px;
    margin-left: 30px;
    font-size: 20px;
}
.slider{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.slider__item img{
    width: 600px;
    height: 800px;
    object-fit: cover;
}

.product-name {
    margin-top: 40px;
}

.slider__item{
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}

.slider-nav {
    margin-top: 94px;
}

.slider-nav__list {
    display: flex;
    gap: 47px;
    justify-content: center;
}

.slider-nav__item a{
    font-size: 36px;
    color: var(--font-color-hover);
}

.slider-nav__item a:active{
    color: var(--font-color-main);
}

.slider-nav__item a:hover{
    color: var(--font-color-main);
}

